@import "../../../styles/Variables.scss";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  z-index: 9999999999999999;
  animation: showMenu 0.5s ease forwards;

  &__header {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-bottom: 1px solid $color-grey-light;
    &--label {
      justify-self: center;
      color: $color-grey-dark-2;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    &--close {
      //   cursor: pointer;
    }
  }

  &__body {
    padding: 1rem 0;
    &--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0 3rem 0;
      &-icon {
        transform: translateY(3px);
      }
      &-text {
        font-size: 1.5rem;
        margin-right: auto;
        margin-left: 2.3rem;
      }
      &-navigator {
        font-size: 2rem;
        color: $color-grey-dark-3;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem 0;
    &--app-version {
      font-size: 1.2rem;
      color: $color-grey-dark-4;
    }
    &--powered-by {
      display: flex;
      flex-direction: column;
      justify-content: center;
      span:first-child {
        font-size: 0.9rem;
        color: $color-grey-dark-4;
        margin-bottom: 0.2rem;
      }
    }
  }
}

@keyframes showMenu {
  0% {
    transform: translateX(-150vw);
  }
  100% {
    transform: translateX(0);
  }
}
