@import "../../styles/Variables.scss";

.page-card {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border: 1px solid $color-grey-dark-5;
  border-radius: 4px;
  margin-bottom: 2rem;
  color: $color-grey-dark-2;
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid $color-primary;
    color: $color-primary;
  }
  &__title {
    font-weight: 600;
  }
}
